@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
button:hover{
  opacity: 0.8;
  cursor: pointer;
}

#container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color:#B944B1;
    
}

#start-screen{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

  #start-game {
    background-color: black;
    color: #B944B1;
    font-weight: bold;
    font-size: 1.5em;
    border: solid #44b94c;
    border-radius: 1em;
    box-shadow: 0.3em 0.7em 18px #5b6f5ba1;
    padding: 1em;
    width: 50%;
  }

  #add-name{
    display: flex;
    gap: 20px
  }

  #add-name input{
    height: 30px;
    background-color:#44b94c;
    color: #ffffff;
    font-weight: bolder;
    font-size:1em ;
  }

  #btn-add{
    background-color: black;
    color: #B944B1;
    border: solid #44b94c;
    border-radius: 5px;
    font-size: 1em;
    width: 100px;
    padding: 7px;
    font-weight: 700;
  }

  #container-game{
    display: none;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 480px;
    height:50px; 
    padding: 10px;
    }

  #container-canvas{
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 50px 1px #b6b8b3ef ;
    margin-top: 14px;
  }
  #gameover-screen{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#B944B1;
    gap: 1.5em;
}
#my-canvas{
    display: none;
    justify-content: column;
}

#restart-btn {
  background-color: black;
  color: #B944B1;
  font-weight: bold;
  font-size: 1.5em;
  border: solid #44b94c;
  border-radius: 1em;
  box-shadow: 0.3em 0.7em 18px #5b6f5ba1;
  padding: 1em;
  width: 50%;
}
#puntuacion{
  display: flex;
  justify-items: flex-start;
  color:#9eff07 ;
  font-size: 2em;
  font-weight:900;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.update-container{
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  list-style-type: none;
  font-weight: 900;
  text-align: center;
  color:#7c1919;
  margin: 0px;
  padding: 0px;
  
}
#record{
  background-color: #44b94cb0;
  margin: 0;
  padding: 0;
}
.update-container ul{
  list-style-type: none;
  text-align: center;
  padding: 0px;
}